/*
 * Customizations for splash page.
 */

.hero-logo img {
  margin-left: 2.5em;
}

.hero-title{
  display: none;
}

/*
.subtitle-text {
*/

.hero-subtitle{
	font-family: "Helvetica Neue", Arial, sans-serif;
  text-transform: none;
  padding: .2em .5em;
  background-color: rgba(255, 255, 255, .95);
	-webkit-border-radius: 0.5rem;
	-moz-border-radius:    0.5rem;
	border-radius:         0.5rem;
}

.sensei-text {
}

.speech-bubble-left {
	position:relative;
	padding:1em;
	margin:15px 1em 0 3em;
	border:thin solid #ccc;
	background-color:#fff;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
  display: inline-block;
}

.speech-bubble-left:before {
	content:"";
	position:absolute;
	border-style:solid;
  border-color:#ccc transparent;
	top:10px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0;
	border-color:transparent #ccc;
}

/* creates the smaller  triangle */
.speech-bubble-left:after {
	content:"";
	position:absolute;
	border-style:solid;
	border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
  display:block;
  width:0;
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 21px 9px 0;
	border-color:transparent #fff;
}
