<footer class="footer toolbar">
    <div class="wrapper">

        <nav class="toolbar-block footer-menu" role="navigation">
            <a href="about.html" class="menu-item">About</a>
            <a href="contact.html" class="menu-item">Contact</a>
            <a href="http://blog.musikata.com" class="menu-item">Blog</a>
            <a href="https://twitter.com/zen4music" class="menu-item">Twitter</a>
            <a href="http://www.facebook.com/musikata" class="menu-item">Facebook</a>
        </nav>

        <div class="toolbar-block">
            <div class="sensei">
                <img class="sensei-icon" src="img/cricket.png" >
                <span class="sensei-text">"Come train with us!"</span>
            </div>
        </div>

        <div class="toolbar-block footer-copyright text_right">© Copyright 2013 MUSIKATA</div>
    </div>
</footer>
