<header class="header toolbar" role="banner">
    <div class="wrapper">
        <div class="toolbar-block">
            <a href="index.html" class="brand">
                <span class="brand-logo"><i class="icon-logo"></i></span>
                <strong class="brand-name">Musikata</strong>
            </a>
        </div>

        <nav class="toolbar-block text_right">
            <a href="request_invitation.html" class="toolbar-login button button_primary">Login</a>
        </nav>
    </div>
</header>
