<nav class="navbar navbar-default" style="margin-bottom: 0;">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand"><img src="/assets/img/logo.png" style="height: 100%;"></a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="about.html" class="menu-item">About</a></li>
                <li><a href="contact.html" class="menu-item">Contact</a></li>
                <li><a href="http://blog.musikata.com" class="menu-item" target="_blank">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>
