<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="ClearType" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- pinterest -->
<meta name="p:domain_verify" content="a68163dbd9a7305422774f70b257a36c"/>

<!-- DNS prefetch -->
<link rel="dns-prefetch" href="http://ajax.googleapis.com/">
<link rel="dns-prefetch" href="http://www.google-analytics.com/">

<!-- Title, desc -->
{% include title.html %}
<meta name="description" content="Ear training. Music theory. Community.">

<!-- Styles -->
<link rel="stylesheet" href="bootswatch/musikata/bootstrap.min.css">

{% for stylesheet in page.stylesheets %}
<link rel="stylesheet" href="{{stylesheet}}">
{% endfor %}

<meta name="p:domain_verify" content="a68163dbd9a7305422774f70b257a36c"/>

</head>

<body class="{{ page.body_classes| join: ' ' }}" style="">

<!-- header -->
{% include header.html %}

<!-- main -->
<main class="main" role="main" style="background: #f7f1e1; padding: 10px;">
<div class="container" style="border-radius: 5px; background: #fff;">
    {{ content }}
</div>
</main>

<!-- footer -->
{% include footer.html %}

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-45394511-1', 'musikata.com');
ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
